@media (min-width: 1100px) {
    #citizen {
      width: 720px;
    }
}

@media (max-width: 767px) {
  #citizen {
    width: 350px;
  }
}

#citizen img{
    height: 7vw;
    object-fit: cover;
    min-height: 370px; 
}

#citizen .hover-mask{
   mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%);
   -webkit-mask-image: linear-gradient(to top, rgba(245, 0, 0, 0) 5%,rgba(0,0,0,0.65) 50%);
}


#citizen h2{
  font-family: gotham-medium; 
  font-size:24px; 
  color:#10317E ;
  position: absolute;
  bottom:10px;
  margin-left: 20px;
  margin-right: 20px;
}

.konten-karosel .owl-carousel .owl-nav {
  height: 0px;
}

.konten-karosel .owl-carousel .item {
  text-align: center;
}
.konten-karosel .owl-carousel .nav-button {
  height: 45px;
  width: 45px;
  cursor: pointer;
  position: absolute;
  top: 40%;
  background-color: #0378be;
  border-radius: 50px;
}

.konten-karosel .owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.25;
}
.konten-karosel .owl-carousel .owl-prev {
  left: -5px;
}
.konten-karosel .owl-carousel .owl-next {
  right: -5px;
}

.konten-karosel .owl-theme .owl-nav [class*="owl-"] {
  color: #f3f3f3;
  font-size: 27px;
}
.konten-karosel .owl-carousel .prev-carousel:hover {
  background-position: 0px -20px;
}
.konten-karosel .owl-carousel .next-carousel:hover {
  background-position: -5px -20px;
}